SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/opslens
SPRING_DATASOURCE_USERNAME=opslens
SPRING_DATASOURCE_PASSWORD=opslens
SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=opslens
SPRING_RABBITMQ_PASSWORD=opslens
OPSLENS_DASHBOARD_BASE_URL=http://localhost:5173
